<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ganesh</title>
  <link rel="stylesheet" type="text/css" href="style.css"
</head>

<body>
  <div id="j"><h1>Piece of Shit</h1></div>
  <div class="row">
    <div id="i" class="column">
      <section id="container"></script>
     
       <form>
         HostImage:
         <input type="file" id="file">
         Key:<br>
         <input type="text" name="key">
         Text to be encrypted:<br>
         <textarea name="InputMess" cols="5" rows="5"></textarea>
         <button>Encrypt</button>
       </form>
       
       </section>
       
     </div>
     <div id="k" class="column">
       <section id="container">
      
        <form  >
         EncryptedImage:
          <input type="file" id="file">
          Key:<br>
          <input type="text" name="key">
          Decrypted Text:<br>
          <textarea id="myTextArea" style="display:none;">Lets see if this works</textarea>
          <button>Decrypt</button>
        </form>
        
        </section>
        
      </div>
  </div>

  
 
</body>
</html> 